<!-- jQuery Version 1.11.0 -->
<script src="{{ '/assets/js/jquery-1.11.0.js' | relative_url }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ '/assets/js/jquery.easing.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/classie.js' | relative_url }}"></script>
<script src="{{ '/assets/js/cbpAnimatedHeader.js' | relative_url }}"></script>

<!-- Contact Form JavaScript -->
<script src="{{ '/assets/js/jqBootstrapValidation.js' | relative_url }}"></script>

{% if site.contact == "static" %}
  <script src="{{ '/assets/js/contact_me_static.js' | relative_url }}"></script>
{% else %}
  <script src="{{ '/assets/js/contact_me.js' | relative_url }}"></script>
{% endif %}

<!-- Custom Theme JavaScript -->
<script src="{{ '/assets/js/freelancer.js' | relative_url }}"></script>

{% if site.contact == "disqus" %}
  <!-- Disqus Stuff -->
  {% include body/js_disqus.html %}
{% endif %}
