---
---

@charset "utf-8";

// variables.less
$theme-primary: {{ site.color.primary | default: '#18bc9c' }};
$theme-secondary: {{ site.color.secondary | default: '#18bc9c' }};
$theme-secondary-dark: {{ site.color.secondary-dark | default: '#233140' }};

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "bootstrap",
    "base"
;
